.showPage {
  background-color: #a675a1;
  font-family: "manga temple";
  height: 75vh;
  text-align: right;
  margin: 5px;
}
.show-box h2 {
  padding: 20px;
  text-decoration: 7px underline #8f3985;
}
.showData {
  padding-top: 10px;
}

.showData h3 {
  font-family: "manga temple";
  font-size: 3rem;
  margin: 10px;
}

.showData img {
  float: left;
  height: 500px;
  padding-left: 50px;
}

.h3Div {
  background-color: #8f3985;
}
.show-details {
  font-size: 20px;
  padding: 20px;
}
.buttons {
  padding-top: 50px;
  padding-right: 50px;
}

.characterList {
  background-color: #a675a1;
}
.characterList h4 {
  background-color: #8f3985;
  padding: 20px;
}

.characterList li {
  list-style: none;
  padding-right: 20px;
  padding-bottom: 5px;
}

.characterList a {
  text-decoration: none;
  color: #efd9ce;
}
