.shows {
  font-family: "manga temple";
  margin: 50px;
}

.shows h2 {
  text-align: right;
}

.shows ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}
.shows li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shows img {
  height: 250px;
  width: 200px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1px) {
  .shows ul {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media only screen and (min-width: 500px) {
  .shows ul {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 768px) {
  .shows ul {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .shows ul {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

@media only screen and (min-width: 1500px) {
  .shows ul {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }
}
