.show {
  font-family: "manga temple";
  text-align: right;
  margin: 30px;
}

.showData h3 {
  background: url("../../assets/images/all-anime-copy.jpeg");
  margin: 2px;
  display: inline-flex;
  font-family: "manga temple";
  font-size: 4rem;
  text-align: center;
  background-position: 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fafafa54;
  animation: animatedOne 30s linear infinite;
}
@keyframes animatedOne {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

