.home {
  font-size: 40px;
  margin: 30px;
  background-image: url("https://m.media-amazon.com/images/I/81c+ZxrOXPL._AC_UF894,1000_QL80_.jpg");
  color: #8f3985;
  font-family: "andmorey";
  padding: 25px;
}
.home h1 {
  width: 100%;
}

@media only screen and (max-width: 896px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: #8f3985;
  }
  .home h1 {
    font-family: "andmorey";
    font-size: 40px;
    color: #cea2ac;
    padding: 0;
  }
}
